h4 {
  color: red;
}

.city_info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#city_lat,
#city_long,
#city_name,
#city_country,
#city_region,
#city_regionID,
#city_map {
  display: flex;
  flex-direction: row;
  width: 80%;
  padding-left: 15px;
  padding-right: auto;

}

.hide-this {
  display: block;
}