<!DOCTYPE html>
<html xmlns:th='https://thymeleaf.org'>

<head>
  <meta charset="ISO-8859-1" />
  <link href="css/styles.css" rel="stylesheet" />
  <!-- Need live SASS Compiler to compile the SCSS into CSS as browsers cant
  handle the awsomness of SCSS. Dont edit the CSS file directly please! -->
  <title>City Geo Guesser Game</title>
</head>

<body>
  <h4>Can you guess the city?</h4>
  <div class="city_info">
    <div id="city_lat">
      <p>City lat: </p>
      <p th:text="${lat}">ERROR</p>
    </div>
    <div id="city_long">
      <p>City long: </p>
      <p th:text="${long}">ERROR</p>
    </div>
    <div id="city_name">
      <p>City name: </p>
      <p th:text="${name}">ERROR</p>
    </div>
    <div id="city_country">
      <p>Country of Origin: </p>
      <p th:text="${country}">ERROR</p>
    </div>
    <div id="city_region">
      <p>City Region: </p>
      <p th:text="${region}">ERROR</p>
    </div>
    <div id="city_regionID">
      <p>City Region ID: </p>
      <p th:text="${regionID}">ERROR</p>
    </div>
    <div id="city_map">
      <a href=${map_url}>View on Map</a>
    </div>

    <div>
      <form name="selectCity" method="post" action="/main">

        <label for="gender">Select City Name</label> <br />
        <select name="gender">
          <option value=""></option>
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>

        <button type="submit">Submit</button>
      </form>
    </div>



  </div>



</body>

</html>

<!-- xmlns:th='https://thymeleaf.org' -->