<!DOCTYPE html>
<html xmlns:th='https://thymeleaf.org'>

<head>
  <meta charset="ISO-8859-1" />
  <link href="css/styles.css" rel="stylesheet" />
  <!-- Need live SASS Compiler to compile the SCSS into CSS as browsers cant
  handle the awsomness of SCSS. Dont edit the CSS file directly please! -->
  <title>City Geo Guesser Game</title>
</head>


<body>
  <h4>testing </h4>
  <div class="city_info">

    <div id="city_regionID">
      <form name="loginForm" method="post" action="/test3">
        Username: <input type="text" name="username" /> <br />
        Password: <input type="password" name="password" /> <br />
        <input type="submit" value="Login" />
      </form>
    </div>

  </div>



</body>

</html>

<!-- xmlns:th='https://thymeleaf.org' -->